.buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

span {
    color: aqua;
    font-size: x-large;
    font-weight: bolder;
}

video#arjs-video {
    max-width: inherit;
}